{% extends 'base.html' %}


    {% block content %}
    <main class="container py-5">
        <section class="card card-body">
<h1 class="display-1 text-center">home yinya</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, sequi. Tempore sed recusandae veritatis iure eos ipsa assumenda! Distinctio non consequatur at ex officiis cupiditate ipsa repellat eaque fugit. Provident?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi beatae ex repellat reprehenderit consequatur accusantium cumque blanditiis, ipsam ratione reiciendis neque, cum itaque dolore labore error molestiae, delectus quidem porro! </p>
</section></main>
    {% endblock %}